.home_header {
  width: 100%;
  height: 100px;
  background-color: #579C87;
}
.home_header .home_header_h1 {
  font-family: "Prompt", sans-serif;
  font-size: 3em;
  margin: 0;
  color: #FDCB46;
  padding-top: 15px;
}

.menu1_header,
.menu2_header,
.menu3_header,
.menu4_header {
  width: 100%;
  height: 70px;
  text-align: center;
}

.black_title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-top: 30px;
}

@media screen and (max-width: 480px) {
  .black_title {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 10px;
  }
}
.menu1_header_h1 {
  font-family: "devonshireregular";
  font-size: 2.4em;
  margin-bottom: 30px;
}

.fa-music {
  padding: 10px;
}

@media screen and (max-width: 480px) {
  .menu1_header_h1 {
    font-size: 1.8em;
  }
}
.menu2_header {
  display: flex;
}
.menu2_header .menu2_header_h1 {
  margin: auto;
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(5deg, #F4AE04, #3E05D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 480px) {
  .menu2_header_h1 {
    font-size: 1.5em;
  }
}
.menu3_header {
  display: flex;
}
.menu3_header .menu3_header_h1 {
  margin: auto;
  font-family: "Parisienne", cursive;
  font-size: 2.6em;
  background: -webkit-linear-gradient(50deg, #0E01CA, #2F85FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 480px) {
  .menu3_header_h1 {
    font-size: 1em;
  }
}
.menu4_header {
  display: flex;
}
.menu4_header .menu4_header_h1 {
  margin: auto;
  background: -webkit-linear-gradient(35deg, #1C9F05, #C8FABE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "runcrowregular";
  font-size: 2.1em;
}

@media screen and (max-width: 1084px) and (orientation: portrait) {
  .home_header {
    max-height: 300px;
  }
}
.home_footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #579C87;
  height: 50px;
}
.home_footer .home_footer_buttons {
  display: flex;
  max-width: 600px;
  margin: auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .home_footer {
    height: 60px;
  }
  .home_footer .home_footer_buttons {
    max-width: 700px;
  }
}
.menu1_footer {
  text-align: center;
  margin: 0;
}
.menu1_footer .fa-music {
  padding: 6px;
}

.menu1_footer_h3 {
  font-family: "devonshireregular";
  font-size: 1.5em;
}

@media screen and (max-width: 480px) {
  .menu1_footer_h3 {
    font-size: 0.7em;
  }
}
a {
  text-decoration: none;
}

.home_body,
.menu1_body,
.menu2_body,
.menu3_body,
.menu4_body,
.legales_body {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.home_main_container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.menu1_main_container,
.menu2_main_container,
.menu3_main_container,
.menu4_main_container {
  display: flex;
  flex-direction: column;
}

.menu1_main_container {
  font-family: "Comic Sans MS";
}
.menu1_main_container .box_menu1 {
  background-color: #FCDFDB;
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  max-width: 80%;
  margin: 0 auto 70px;
}

.fa-music {
  background: -webkit-linear-gradient(65deg, #DB2A03, #F98607);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box_menu2 {
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  max-width: 80%;
  margin: 0 auto 70px;
  background-color: #FFF5FE;
}

.menu2_section_starters {
  color: #C98F01;
}

.menu2_section_courses {
  color: #9B64B8;
}

.menu2_section_desserts {
  color: #623BFA;
}

.box_menu3 {
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  max-width: 80%;
  margin: 0 auto 70px;
  background-color: #F9F9F9;
}

.box_menu4 {
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  max-width: 80%;
  margin: 0 auto 70px;
  background-color: #FDFFFD;
}

.box_menu2,
.box_menu3,
.box_menu4 {
  padding: 10px;
  line-height: 2.5em;
}

@media screen and (max-width: 480px) {
  .box_menu1 {
    font-size: 0.7em;
    margin: auto;
  }

  .box_menu2 {
    font-size: 0.7em;
  }

  .box_menu3 {
    font-size: 0.6em;
  }

  .box_menu4 {
    font-size: 0.6em;
  }
}
.menu3_main_container {
  font-family: "Comic Sans MS";
}

.menu4_main_container {
  font-family: "Comic Sans MS";
}

.legales_main_container {
  max-width: 800px;
  text-align: left;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.9em;
  padding: 20px;
}

.section_menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

@media screen and (min-width: 1024px) and (orientation: portrait) {
  .section_menus {
    padding: 50px;
  }
}
.menu1_section_starters,
.menu1_section_courses,
.menu1_section_desserts,
.menu2_section_starters,
.menu3_section_starters,
.menu4_section_starters,
.menu2_section_courses,
.menu3_section_courses,
.menu4_section_courses,
.menu2_section_desserts,
.menu3_section_desserts,
.menu4_section_desserts {
  margin: 20px;
}

@media screen and (max-width: 480px) {
  .menu1_section_starters,
.menu1_section_courses,
.menu1_section_desserts,
.menu2_section_starters,
.menu3_section_starters,
.menu4_section_starters,
.menu2_section_courses,
.menu3_section_courses,
.menu4_section_courses,
.menu2_section_desserts,
.menu3_section_desserts,
.menu4_section_desserts {
    margin: 0;
  }
}
.soon {
  width: 100%;
  display: flex;
  margin-bottom: 90px;
}
.soon .soon_green {
  display: flex;
  border-radius: 10px;
  width: 230px;
  height: 40px;
  margin: auto;
  background-color: #579C87;
}
.soon .soon_green .soon_green_h3 {
  margin: auto;
  color: #FDCB46;
  font-family: "Prompt", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.loading1,
.loading2,
.loading3 {
  width: 4px;
  height: 4px;
  margin: 3px 0.5px 0 1px;
  background-color: #FDCB46;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(1.5px);
  }
}

.loading2 {
  animation-delay: 0.4s;
}

.loading3 {
  animation-delay: 0.8s;
}

.legales_text {
  padding-bottom: 50px;
}

@media screen and (min-width: 1024px) {
  .soon_green {
    max-width: 300px;
    max-height: 100px;
  }
  .soon_green .soon_green_h3 {
    font: size 1.5em;
  }
}
@font-face {
  font-family: "devonshireregular";
  src: url("../fonts/devonshire-regular-webfont.eot");
  src: url("../fonts/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg");
}
@font-face {
  font-family: "runcrowregular";
  src: url("../fonts/runcrow-webfont.woff2") format("woff2"), url("../fonts/runcrow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.menu {
  display: flex;
  max-width: 48%;
  margin: 5%;
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
}

@media screen and (max-width: 480px) {
  .menu {
    max-width: 300px;
  }
}
@media screen and (min-width: 1024px) and (orientation: portrait) {
  .menu {
    max-width: 40%;
    margin: 5%;
  }
}
.menu_lanote {
  background-color: #FCDFDB;
}
.menu_lanote .menu_button_pink {
  display: flex;
  margin: auto;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}
.menu_lanote .menu_button_pink:hover {
  transform: scale(1.5);
}

.fa-music {
  background: -webkit-linear-gradient(65deg, #DB2A03, #F98607);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_button_pink_h2 {
  margin: auto;
  font-family: "devonshireregular";
  font-weight: lighter;
  font-size: 1.8em;
  line-height: 1.8em;
  padding: 70px 48px;
  color: black;
}
.menu_button_pink_h2 .button_pink_span {
  font-family: "Tillana", cursive;
}

.menu_lechic {
  background-color: #FFF5FE;
}
.menu_lechic .menu_button_lilac {
  display: flex;
  margin: auto;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}
.menu_lechic .menu_button_lilac:hover {
  transform: scale(1.5);
}
.menu_lechic .menu_button_lilac .menu_button_lilac_h2 {
  font-family: "Croissant One", cursive;
  font-size: 1.2em;
  line-height: 2.3em;
  padding: 120px 16px;
  margin: auto;
  background: -webkit-linear-gradient(5deg, #F4AE04, #3E05D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_lechic .menu_button_lilac .menu_button_lilac_h2 .button_lilac_span {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-weight: 500;
  -webkit-text-fill-color: #C98F01;
}

.menu_ledelice {
  background-color: #F9F9F9;
}
.menu_ledelice .menu_button_grey {
  display: flex;
  margin: auto;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}
.menu_ledelice .menu_button_grey:hover {
  transform: scale(1.5);
}
.menu_ledelice .menu_button_grey .menu_button_grey_h2 {
  margin: auto;
  font-family: "Parisienne", cursive;
  font-size: 1.7em;
  line-height: 1.8em;
  padding: 100px 18px;
  background: -webkit-linear-gradient(50deg, #0E01CA, #2F85FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_ledelice .menu_button_grey .menu_button_grey_h2 .button_grey_span {
  font-family: "Comic Sans MS";
}

.menu_lapalette {
  background-color: #FDFFFD;
}
.menu_lapalette .menu_button_offwhite {
  display: flex;
  margin: auto;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
}
.menu_lapalette .menu_button_offwhite:hover {
  transform: scale(1.5);
}
.menu_lapalette .menu_button_offwhite .menu_button_offwhite_h2 {
  font-family: "runcrowregular";
  font-size: 1.4em;
  line-height: 1.8em;
  padding: 123px 44px;
  margin: auto;
  background: -webkit-linear-gradient(35deg, #1C9F05, #C8FABE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_lapalette .menu_button_offwhite .menu_button_offwhite_h2 .button_offwhite_span {
  font-family: "Comic Sans MS";
  font-size: 1.3em;
}

.mentions, .contact {
  color: #FDCB46;
  font-family: "Prompt", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
}
.mentions:hover, .contact:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .mentions, .contact {
    font-size: 2em;
  }
}
ul {
  list-style: none;
  padding-left: 15px;
  font-size: 1.1em;
}

.starters_list_dish1,
.starters_list_dish2,
.starters_list_dish3,
.starters_list_dish4,
.courses_list_dish1,
.courses_list_dish2,
.courses_list_dish3,
.desserts_list_dish1,
.desserts_list_dish2,
.desserts_list_dish3 {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0;
}

.list_dish_title {
  width: 95%;
  line-height: 2em;
  display: inline-block;
  text-align: left;
}

.list_dish_price {
  width: 5%;
  line-height: 2em;
  display: inline-block;
  margin-right: 15px;
}

.menu1_titles,
.menu2_titles,
.menu3_titles,
.menu4_titles {
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: nowrap;
}

@media screen and (max-width: 480px) {
  .menu2_titles,
.menu3_titles,
.menu4_titles {
    font-size: 0.8em;
    line-height: 1.3em;
  }
}
.right_img,
.left_img {
  width: 30%;
  height: 1%;
  margin: auto;
}

.mentions_h1,
.mentions_h2,
.mentions_h3 {
  font-family: "Comic Sans MS";
}

.menu1_starters_h2,
.menu1_courses_h2,
.menu1_desserts_h2,
.menu3_starters_h2,
.menu3_courses_h2,
.menu3_desserts_h2,
.menu4_starters_h2,
.menu4_courses_h2,
.menu4_desserts_h2 {
  text-decoration: none;
  background: linear-gradient(to top, #070000 0%, rgba(8, 0, 0, 0.5) 3px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.2s;
}
.menu1_starters_h2:hover,
.menu1_courses_h2:hover,
.menu1_desserts_h2:hover,
.menu3_starters_h2:hover,
.menu3_courses_h2:hover,
.menu3_desserts_h2:hover,
.menu4_starters_h2:hover,
.menu4_courses_h2:hover,
.menu4_desserts_h2:hover {
  background-size: 100% 100%;
}

.menu2_starters_h2 {
  text-decoration: none;
  background: linear-gradient(to top, #c09d46 0%, rgba(250, 211, 83, 0.5) 3px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.2s;
}
.menu2_starters_h2:hover {
  background-size: 100% 100%;
}

.menu2_courses_h2 {
  text-decoration: none;
  background: linear-gradient(to top, #9b67b8 0%, rgba(221, 170, 245, 0.5) 3px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.2s;
}
.menu2_courses_h2:hover {
  background-size: 100% 100%;
}

.menu2_desserts_h2 {
  text-decoration: none;
  background: linear-gradient(to top, #4e11f7 0%, rgba(108, 79, 235, 0.5) 3px, transparent 2px) no-repeat;
  background-size: 0 100%;
  transition: background-size 0.2s;
}
.menu2_desserts_h2:hover {
  background-size: 100% 100%;
}

@font-face {
  font-family: "devonshireregular";
  src: url("../fonts/devonshire-regular-webfont.eot");
  src: url("../fonts/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg");
}
@font-face {
  font-family: "runcrowregular";
  src: url("../fonts/runcrow-webfont.woff2") format("woff2"), url("../fonts/runcrow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
