.home_header {
  width: 100%;
  height: 100px;
  background-color: #579C87;
}
.home_header .home_header_h1 {
  font-family: "Prompt", sans-serif;
  font-size: 3em;
  letter-spacing: -1;
  margin: auto;
  color: #FDCB46;
  padding-top: 15px;
}

.menu1_header,
.menu2_header,
.menu3_header,
.menu4_header {
  width: 100%;
  height: 70px;
  text-align: center;
}

.black_title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  margin-top: 30px;
}

.menu1_header_h1 {
  font-family: "devonshireregular";
  font-size: 3em;
  margin: 0;
  padding: 15px;
}

.fa-music {
  padding: 5px;
}

.menu2_header {
  display: flex;
}
.menu2_header .menu2_header_h1 {
  margin: auto;
  font-family: "Croissant One", cursive;
  background: -webkit-linear-gradient(5deg, #F4AE04, #3E05D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu3_header {
  display: flex;
}
.menu3_header .menu3_header_h1 {
  margin: auto;
  font-family: "Parisienne", cursive;
  font-size: 2.6em;
  background: -webkit-linear-gradient(50deg, #0E01CA, #2F85FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu4_header {
  display: flex;
}
.menu4_header .menu4_header_h1 {
  margin: auto;
  background: -webkit-linear-gradient(35deg, #1C9F05, #C8FABE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "runcrowregular";
  font-size: 3.3em;
}

.menu2_header,
.menu3_header,
.menu4_header {
  height: 70px;
}

@media screen and (max-width: 480px) {
  .home_header {
    height: 90px;
    width: 100%;
  }
  .home_header .home_header_h1 {
    font-size: 2.6em;
  }
}
.home_footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #579C87;
  height: 50px;
}
.home_footer .home_footer_buttons {
  display: flex;
  max-width: 600px;
  margin: auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.menu1_footer {
  text-align: center;
  margin: 0;
}
.menu1_footer .fa-music {
  padding: 4px;
}

.menu1_footer_h3 {
  font-family: "devonshireregular";
  font-size: 2em;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .home_footer {
    height: 30px;
  }
}
a {
  text-decoration: none;
}

.home_body,
.menu1_body,
.menu2_body,
.menu3_body,
.menu4_body,
.legales_body {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 480px) {
  .home_body,
.legales_body {
    height: 500px;
  }
}
.home_main_container {
  max-width: 550px;
  height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.menu1_main_container,
.menu2_main_container,
.menu3_main_container,
.menu4_main_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 0.5em;
}

.menu1_main_container {
  font-family: "Comic Sans MS";
}
.menu1_main_container .box_menu1 {
  background-color: #FCDFDB;
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  height: 450px;
  width: 450px;
  margin-bottom: 80px;
}

.fa-music {
  background: -webkit-linear-gradient(65deg, #DB2A03, #F98607);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box_menu2 {
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  height: 450px;
  width: 450px;
  margin-bottom: 80px;
  background-color: #FFF5FE;
}

.menu2_section_starters {
  color: #C98F01;
}

.menu2_section_courses {
  color: #9B64B8;
}

.menu2_section_desserts {
  color: #623BFA;
}

.box_menu3 {
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  height: 450px;
  width: 450px;
  margin-bottom: 80px;
  background-color: #F9F9F9;
}

.box_menu4 {
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  height: 450px;
  width: 450px;
  margin-bottom: 80px;
  background-color: #FDFFFD;
}

.box_menu2,
.box_menu3,
.box_menu4 {
  padding: 20px;
  line-height: 2.5em;
}

.menu3_main_container {
  font-family: "Comic Sans MS";
}

.menu4_main_container {
  font-family: "Comic Sans MS";
}

.legales_main_container {
  max-width: 800px;
  text-align: left;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .home_main_container {
    width: 100%;
  }

  .box_menu1,
.box_menu2,
.box_menu3,
.box_menu4 {
    max-width: 300px;
  }

  .legales_main_container {
    font-size: 0.5em;
  }
}
.section_menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.soon {
  width: 100%;
  height: 100px;
  display: flex;
  margin-bottom: 70px;
}
.soon .soon_green {
  display: flex;
  border-radius: 10px;
  width: 230px;
  height: 40px;
  margin: auto;
  background-color: #579C87;
}
.soon .soon_green .soon_green_h3 {
  margin: auto;
  color: #FDCB46;
  font-family: "Prompt", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.loading1,
.loading2,
.loading3 {
  width: 3px;
  height: 3px;
  margin: 0 0.5px;
  background-color: #FDCB46;
  border-radius: 50%;
  display: inline-block;
  animation-name: dots;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes dots {
  50% {
    opacity: 0;
    transform: scale(0.7) translateY(1.5px);
  }
}

.loading2 {
  animation-delay: 0.4s;
}

.loading3 {
  animation-delay: 0.8s;
}

.legales_text {
  padding-bottom: 50px;
}

@media screen and (max-width: 480px) {
  .soon {
    height: 30px;
    margin-bottom: 50px;
  }
  .soon .soon_green {
    width: 150px;
    height: 20px;
  }
  .soon .soon_green .soon_green_h3 {
    font-size: 0.9em;
  }

  .section_menus {
    margin-top: 0;
  }
}
@font-face {
  font-family: "devonshireregular";
  src: url("../fonts/devonshire-regular-webfont.eot");
  src: url("../fonts/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg");
}
@font-face {
  font-family: "runcrowregular";
  src: url("../fonts/runcrow-webfont.woff2") format("woff2"), url("../fonts/runcrow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.menu_lanote {
  display: flex;
  width: 48%;
  margin: 4%;
  height: 310px;
  max-width: 210px;
  font-size: 0.8em;
  line-height: 2.9em;
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  transform: scale(1);
  transition: transform 100ms ease-in-out;
  background-color: #FCDFDB;
}
.menu_lanote:hover {
  transform: scale(1.2);
}
.menu_lanote .menu_button_pink {
  display: flex;
  margin: auto;
}

.fa-music {
  background: -webkit-linear-gradient(65deg, #DB2A03, #F98607);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu_button_pink_h2 {
  margin: auto;
  font-family: "devonshireregular";
  font: weight lighter;
  font-size: 1.6em;
  color: black;
}
.menu_button_pink_h2 .button_pink_span {
  font-family: "Tillana", cursive;
}

.menu_lechic {
  display: flex;
  width: 48%;
  margin: 4%;
  height: 310px;
  max-width: 210px;
  font-size: 0.8em;
  line-height: 2.9em;
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  transform: scale(1);
  transition: transform 100ms ease-in-out;
  background-color: #FFF5FE;
}
.menu_lechic:hover {
  transform: scale(1.2);
}
.menu_lechic .menu_button_lilac {
  display: flex;
  margin: auto;
}
.menu_lechic .menu_button_lilac .menu_button_lilac_h2 {
  font-family: "Croissant One", cursive;
  font-size: 1em;
  margin: auto;
  background: -webkit-linear-gradient(5deg, #F4AE04, #3E05D0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_lechic .menu_button_lilac .menu_button_lilac_h2 .button_lilac_span {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
  font-weight: 500;
  -webkit-text-fill-color: #C98F01;
}

.menu_ledelice {
  display: flex;
  width: 48%;
  margin: 4%;
  height: 310px;
  max-width: 210px;
  font-size: 0.8em;
  line-height: 2.9em;
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  transform: scale(1);
  transition: transform 100ms ease-in-out;
  background-color: #F9F9F9;
}
.menu_ledelice:hover {
  transform: scale(1.2);
}
.menu_ledelice .menu_button_grey {
  display: flex;
  margin: auto;
}
.menu_ledelice .menu_button_grey .menu_button_grey_h2 {
  margin: auto;
  font-family: "Parisienne", cursive;
  background: -webkit-linear-gradient(50deg, #0E01CA, #2F85FE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_ledelice .menu_button_grey .menu_button_grey_h2 .button_grey_span {
  font-family: "Comic Sans MS";
}

.menu_lapalette {
  display: flex;
  width: 48%;
  margin: 4%;
  height: 310px;
  max-width: 210px;
  font-size: 0.8em;
  line-height: 2.9em;
  box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
  transform: scale(1);
  transition: transform 100ms ease-in-out;
  background-color: #FDFFFD;
}
.menu_lapalette:hover {
  transform: scale(1.2);
}
.menu_lapalette .menu_button_offwhite {
  display: flex;
  margin: auto;
}
.menu_lapalette .menu_button_offwhite .menu_button_offwhite_h2 {
  font-family: "runcrowregular";
  font-size: 1.2em;
  margin: auto;
  padding: 5px;
  background: -webkit-linear-gradient(35deg, #1C9F05, #C8FABE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_lapalette .menu_button_offwhite .menu_button_offwhite_h2 .button_offwhite_span {
  font-family: "Comic Sans MS";
  font-size: 1.3em;
}

.mentions, .contact {
  color: #FDCB46;
  font-family: "Prompt", sans-serif;
  font-size: 1em;
  font-weight: 300;
}
.mentions:hover, .contact:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media screen and (max-width: 480px) {
  .menu_lanote,
.menu_lechic,
.menu_ledelice,
.menu_lapalette {
    box-shadow: 0px 4px 16px -3px rgba(155, 153, 153, 0.75);
    max-height: 180px;
    max-width: 125px;
  }

  .menu_button_pink_h2,
.menu_button_lilac_h2,
.menu_button_grey_h2,
.menu_button_offwhite_h2 {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  .mentions, .contact {
    font-size: 0.9em;
  }
}
ul {
  list-style: none;
  padding-left: 15px;
}

.starters_list_dish1,
.starters_list_dish2,
.starters_list_dish3,
.starters_list_dish4,
.courses_list_dish1,
.courses_list_dish2,
.courses_list_dish3,
.desserts_list_dish1,
.desserts_list_dish2,
.desserts_list_dish3 {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0;
}

.list_dish_title {
  width: 95%;
  line-height: 2em;
  display: inline-block;
  text-align: left;
}

.list_dish_price {
  width: 5%;
  line-height: 2em;
  display: inline-block;
  margin-right: 15px;
}

.menu1_titles,
.menu2_titles,
.menu3_titles,
.menu4_titles {
  display: flex;
  flex-direction: row;
  padding: 0;
  flex-wrap: nowrap;
}

.h2 {
  margin: 0;
}

.right_img,
.left_img {
  width: 140px;
  height: 4px;
  margin: auto;
  padding: 0;
}

.mentions_h1,
.mentions_h2,
.mentions_h3 {
  font-family: "Comic Sans MS";
}

@media screen and (max-width: 480px) {
  .right_img,
.left_img {
    max-width: 70px;
  }
}
@font-face {
  font-family: "devonshireregular";
  src: url("../fonts/devonshire-regular-webfont.eot");
  src: url("../fonts/devonshire-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-regular-webfont.woff2") format("woff2"), url("../fonts/devonshire-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot");
  src: url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff") format("woff"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS") format("svg");
}
@font-face {
  font-family: "runcrowregular";
  src: url("../fonts/runcrow-webfont.woff2") format("woff2"), url("../fonts/runcrow-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
