
@import "../utils/variables";



a {
    text-decoration: none;
}

.home_body,
.menu1_body,
.menu2_body,
.menu3_body,
.menu4_body,
.legales_body {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width: 641px)
{

.home_body,
.legales_body{
    height: 500px;
}

}















