
@import "../utils/variables";

a {
    text-decoration: none;
}

.menu1_body {
    background-color: $menu1_color;
    margin: auto;
    
    
}
.menu2_body {
    background-color: $menu2_color;
}

.menu3_body {
    background-color: $menu3_color;
}

.menu4_body {
    background-color: $menu4_color;
    
}
    
  













