@import "../utils/variables";


.home_footer{
    position: fixed;
    bottom: 0;
    right: 0; 
    left: 0;
    width: 100%;
    background-color: $bc_color;
    height:50px;
        .home_footer_buttons {
            display: flex;
            max-width: 600px;
            margin: auto;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

}

.menu1_footer {
    text-align: center;
    margin: 0;
        .fa-music {
           padding: 4px;
       }
    
}

.menu1_footer_h3 {
    font-family: 'devonshireregular';
    font-size: 1.5em;
    padding: 0;


}

@media screen and (max-width: 641px)
{

.home_footer{
    height: 30px ;
}    

}