
@import "../utils/variables";



.home_header_h1{
	width: 100%;
	height: 80px;
	padding-top: 50px;
	background-color: $bc_color;
	color: $font_color;
	font-family: 'Prompt', sans-serif;
	font-size: 3em;
	font-weight: 500;
	text-align: center;
	


}


