 
@import "../utils/mixins";


.main_container_top-section,
.main_container_mid-section {
    @include top_mid_section;

}


.bottom-section_soon_h3 {
    border-radius: 10px;
    width: 180px;
    height: 30px;
    padding: 5px;
    background-color: $bc_color;
    color: $font_color;
    font-family: 'Prompt', sans-serif;
    font-size: 1.3em;
    font-weight:lighter;
    margin: 20px auto;
    text-align: center;
}


