 
@import "../utils/mixins";

.section_menus {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
@media screen and (min-width: 1024px) and (orientation: portrait)
{
.section_menus{
    padding: 50px;    
}
}

.menu1_section_starters,
.menu1_section_courses,
.menu1_section_desserts,
.menu2_section_starters,
.menu3_section_starters,
.menu4_section_starters,
.menu2_section_courses,
.menu3_section_courses,
.menu4_section_courses,
.menu2_section_desserts,
.menu3_section_desserts,
.menu4_section_desserts{
    margin: 20px;
}
@media screen and (max-width: 480px) 
{
.menu1_section_starters,
.menu1_section_courses,
.menu1_section_desserts,
.menu2_section_starters,
.menu3_section_starters,
.menu4_section_starters,
.menu2_section_courses,
.menu3_section_courses,
.menu4_section_courses,
.menu2_section_desserts,
.menu3_section_desserts,
.menu4_section_desserts{ 
    margin: 0; 
} 
}
.soon {
    width: 100%;
    display: flex;
    margin-bottom: 90px ;
   .soon_green {
           display: flex;
           border-radius: 10px;
           width: 230px;
           height: 40px;
           margin: auto;
           background-color: $bc_color;
           .soon_green_h3 {
                margin: auto;
                color: $font_color;
                font-family: 'Prompt', sans-serif;
                font-size: 1.3em;
                font-weight: 300;
                
        }
    }

}
.loading1,
.loading2,
.loading3 {
    width: 4px;
    height: 4px;
    margin: 3px 0.5px 0 1px;
    background-color: $font_color;
    border-radius: 50%;
    display: inline-block;
    animation-name: dots;
    animation-duration: 2s; 
    animation-iteration-count: infinite ; 
    animation-timing-function: ease-in-out;
         @keyframes dots {
             50% {
             opacity: 0;
             transform: scale(0.7) translateY(1.5px);
             }
    
     }

 }
.loading2 {
    animation-delay: 0.4s;
}

.loading3 {
    animation-delay: 0.8s;
}

.legales_text {
    padding-bottom: 50px;
}
@media screen and (min-width: 1024px)
{
.soon_green {
    max-width: 300px;
    max-height: 100px;
    .soon_green_h3{
        font-size: 1.5em; 
    }
}   
}

