@import "../utils/variables";
@import "../utils/mixins";
@import "../base/typography";

.menu_lanote {
    @include home_menu;
    background-color: $menu1_color;
      .menu_button_pink {
          display: flex;
          margin: auto;
      }
}

.fa-music{
     @include fa_note_color;
}
  
.menu_button_pink_h2 {
     margin: auto;
     font-family: 'devonshireregular';
     font-weight: lighter ;
     font-size: 1.6em;
     color: black;
     .button_pink_span {
         font-family: 'Tillana', cursive;

    }
}
 
.menu_lechic {
     @include home_menu;
     background-color: $menu2_color;
     .menu_button_lilac { 
         display: flex;
         margin: auto;        
         .menu_button_lilac_h2 {
             font-family: 'Croissant One', cursive;
             font-size: 1em;
             margin: auto;
             @include lechic_color;
              .button_lilac_span {
                  font-family: 'Times New Roman', Times, serif;
                  font-size: 1.6em;
                  font-weight: 500;
                  -webkit-text-fill-color:#C98F01 ;
                 

             }
        }
    }
}    
.menu_ledelice {
    @include home_menu;
    background-color: $menu3_color;
    .menu_button_grey {
        display: flex;
        margin: auto;
        .menu_button_grey_h2 {
            margin: auto;
            font-family: 'Parisienne', cursive;
            @include ledelice_color ;
            .button_grey_span {
                font-family: "Comic Sans MS";
            }
            
        }
     
    }
}
.menu_lapalette {
    @include home_menu;
    background-color: $menu4_color;
    .menu_button_offwhite {
        display: flex;
        margin: auto;
        .menu_button_offwhite_h2 {
              font-family: 'runcrowregular';
              font-size: 1.2em;
              margin: auto;
              padding: 5px;
              @include lapalette_color ;
              .button_offwhite_span {
                  font-family: "Comic Sans MS";
                  font-size: 1.3em;
              }

        }   
    }
}




.mentions, .contact {
    color: $font-color;
    font-family:'Prompt', sans-serif;
    font-size: 1em;
    font-weight: 300;
        &:hover {
            animation: shake 0.5s;
            animation-iteration-count: infinite;
        }
            @keyframes shake{    
            0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
          
             }           
    } 
        
@media screen and (max-width: 480px)
{

.menu_lanote,
.menu_lechic,
.menu_ledelice,
.menu_lapalette {
    @include resp_home;
}

.menu_button_pink_h2,
.menu_button_lilac_h2,
.menu_button_grey_h2,
.menu_button_offwhite_h2 {
    font-size: 1.1em;
    line-height: 1.5em ;
}

.mentions, .contact {
    font-size: 0.9em;
}

}

