ul {
    list-style: none;
        .menu1_main_starters_list  {
            display: flex;
            flex-direction: row;
          
        
       .list_dish_title {
             width: 80%;
        
        .list_dish_price {
            width: 20%;
        }
    
       }
     }
    
    }