@import "../utils/mixins";


ul {
    list-style: none;
    padding-left: 15px;
    font-size: 1.1em;
}


.starters_list_dish1,
.starters_list_dish2,
.starters_list_dish3,
.starters_list_dish4,
.courses_list_dish1,
.courses_list_dish2,
.courses_list_dish3,
.desserts_list_dish1,
.desserts_list_dish2,
.desserts_list_dish3 {
    @include list

}
         .list_dish_title {
             
              @include dish_title
         }
         .list_dish_price {
           
              @include dish_price
    
        }
    
    