@import "../utils/mixins";


.menu1_titles,
.menu2_titles,
.menu3_titles,
.menu4_titles {
   
    @include menu_titles;
}

.h2 {
    margin: 0;
}

.right_img,    
.left_img {
    @include images;
}

.mentions_h1,
.mentions_h2,
.mentions_h3 {
    font-family:"Comic Sans MS" ;
}



@media screen and (max-width: 480px) 
{

.right_img,
.left_img {
    max-width: 70px;
}    

}





