@font-face {
    font-family: 'devonshireregular';
    src: url('../font/webfontkit-20200611-071647/devonshire-regular-webfont.eot');
    src: url('../font/webfontkit-20200611-071647/devonshire-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/webfontkit-20200611-071647/devonshire-regular-webfont.woff2') format('woff2'),
         url('../font/webfontkit-20200611-071647/devonshire-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}